.banner {
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 60px;

  h1, h6 {
    color: white;
    text-shadow: 2px 2px 4px black;
  }
}
